.container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    border: 5px solid black;
  
    .title {
      color: white;
      margin:0;
      padding:50px 20px;
    }
  }
